#contact_modale {
    display: flex;
    width: 700px;
    z-index: 100;
    position: fixed;
    border-radius: 5px;
    left: 0;
    top: 0;
  
    img {
        width: 195%;
        margin-top: 10px;
        margin-left: -63%;
        margin-bottom: 10%;
        position: relative;
    }
}

.modale_content {
    border: 5px solid black;
    max-width: 26%;
    position: fixed;
    background-color: white;
    overflow: hidden;
    padding-left: 10%;
    margin-left: 35%;
    text-align: left;
    animation: fade-in 1.2s;

    &.active {
        visibility: visible;
        transform: translate(-50%, -50%);
    }
}

.wpcf7-form-control {
    border: 1px solid #B8BBC2;
    border-radius: 8px;
    height: 40px;
    width: 263px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.wpcf7-textarea {
    height: 210px;
}

.wpcf7-submit {
    border-radius: 0%;
    height: 50px;
    width: 268px;
    border: none;
    margin-bottom: 15px;
}

.has-spinner {
    font-family: "SpaceMonoRegular";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

label {
    font-family: "PoppinsRegular";
    font-size: 12px;
    font-weight: 500;
}