#contact_modale {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    width: 700px;
    z-index: 100;
    position: fixed;
    border-radius: 5px;
    left: 0;
    top: 0;

    img {
        width: 100%;
        margin-top: 10px;
    }
}

.modale_content {
    border: 5px solid black;
    max-width: 50%;
    position: fixed;
    background-color: white;
}


