@font-face {
    font-family: "SpaceMonoBold";
    src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
    font-weight: bold;
  }

@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: italic;
  font-weight: bold;
}

@font-face {
    font-family: "SpaceMonoItalic";
    src: url("../fonts/SpaceMono/SpaceMono-Italic.ttf");
    font-weight: italic;
  }


@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/SpaceMono/SpaceMono-Regular.ttf");
  font-weight: normal;
}

@font-face {
    font-family: "PoppinsBold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
    font-weight: bold;
  }


@font-face {
  font-family: "Poppinsitalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: italic;
}


@font-face {
    font-family: "PoppinsMedium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: medium;
  }


@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
}




