footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-color: #fff;
    height: 40px;
    border-top: 2px solid;
    font-family: "SpaceMono-Regular", sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 768px) { 
    footer ul {
    display: grid;
    place-items: center;
    gap: 20px;
    }

    #menu-item-21 {
        margin-top: 20%;
    }

    #menu-item-23 {
        margin-left: -20%;
    }
}
