
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
      .logo_site {
        padding-left: 10%;
      }
        img {
          width: 100%;
          max-width: 200px;
        }

ul {
    list-style: none;
}