.hero_header {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
}

.hero_header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 85%;
  height: 10%;
  font-family: "space_monobold_italic", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 6vw;
  line-height: 10vh;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  animation: mouveToDown 2s;
}

.hero__background {
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; /* Changed from 'cover' to 'contain' */
  object-position: center;
  position: absolute; 
}

@keyframes mouveToDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Queries for responsiveness */
@media (max-width: 767px) {
  .hero_header h1 {
      display: none; /* Hide the text on small screens */
  }
  .hero__background {
    width: 100vw; 
    height: 100vh; 
    object-fit: contain; 
    position: sticky; 
  }
  .hero_header {
    width: 100vw;
    height: 16vh;
    position: relative;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
  }
}
