@import "header";
@import "footer";
@import "fonts";
@import "contact";
@import "hero";
@import "filtres";
@import "catalog";
@import "single";
@import "lightbox";

body{
    margin: 0;
    
}

.container {
    display: flex;
  flex-direction: column;
  margin: 10px;
}